Importing Dependencies

In [1]:
import pandas as pd
import matplotlib as plt
import json
import datetime as dt
import requests
import numpy as np

In [2]:
import os

#os.getcwd()

Importing CSV + Creating Variable Filepath

In [3]:
#creating a variable from csv file path
eth_df = pd.read_csv('../../Resources/ETH-USD.csv')

#checking dataframe
eth_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2.595760e+09
1,2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5.783350e+09
2,2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5.093160e+09
3,2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6.502860e+09
4,2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6.683150e+09

Data Cleaning

In [4]:
#checking data types 
eth_df.dtypes

print(type(eth_df['Date'][0]))

<class 'str'>

In [5]:
eth_df['Date']= pd.to_datetime(eth_df['Date'])

#return datetime.date objects without timezone info
eth_df['Date'] = eth_df['Date'].dt.date

eth_df['Date'] = pd.to_datetime(eth_df['Date'])
type(eth_df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
#set the index to the Date
eth_df.set_index('Date', inplace = True)

In [7]:
eth_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2.595760e+09
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5.783350e+09
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5.093160e+09
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6.502860e+09
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6.683150e+09

In [8]:
# #filtering for the years 2018 - 2021
eth_year_df =eth_df.loc[(eth_df.index.year >= 2018) & (eth_df.index.year <= 2021)]

eth_year_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2.595760e+09
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5.783350e+09
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5.093160e+09
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6.502860e+09
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6.683150e+09

In [9]:
group_eth_df = eth_year_df.groupby([eth_year_df.index.year, eth_year_df.index.month])

group_eth_df.count()

           Open  High  Low  Close  Adj Close  Volume
Date Date
2018 1       31    31   31     31         31      31
     2       28    28   28     28         28      28
     3       31    31   31     31         31      31
     4       30    30   30     30         30      30
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      31    31   31     31         31      31
     11      30    30   30     30         30      30
     12      31    31   31     31         31      31
2019 1       31    31   31     31         31      31
     2       28    28   28     28         28      28
     3       31    31   31     31         31      31
     4       30    30   30     30         30      30
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      31    31   31     31         31      31
     11      30    30   30     30         30      30
     12      31    31   31     31         31      31
2020 1       31    31   31     31         31      31
     2       29    29   29     29         29      29
     3       31    31   31     31         31      31
     4       29    29   29     29         29      29
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      28    28   28     28         28      28
     11      30    30   30     30         30      30
     12      31    31   31     31         31      31
2021 1       31    31   31     31         31      31
     2       28    28   28     28         28      28
     3       31    31   31     31         31      31
     4       30    30   30     30         30      30
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      31    31   31     31         31      31
     11      30    30   30     30         30      30
     12      11    11   11     11         11      11

In [10]:
# #preparing to convert str to int

# eth_df['Date'] = eth_df['Date'].str.replace(r'-', '').astype(int)
# print(eth_df['Date'])

In [11]:
clean_eth = []

In [12]:
clean_eth.append(group_eth_df['High'].max())
clean_eth.append(group_eth_df['Low'].min())
clean_eth.append(group_eth_df['Open'].mean())
clean_eth.append(group_eth_df['Close'].mean())
clean_eth.append(group_eth_df['High'].max() * group_eth_df['Volume'].max())

In [13]:
#Turn it into a Dataframe

clean_eth = pd.DataFrame(clean_eth)
clean_eth = clean_eth.transpose()

In [15]:
#Naming the newly created columns
clean_eth.rename(columns={'Unnamed 0': 'Marketcap'}, inplace = True)

In [16]:
clean_eth.index = clean_eth.index.map('{0[0]}0{0[1]}'.format)
clean_eth.index = clean_eth.index.astype(int)

In [17]:
clean_eth['Symbol'] = 'ETH'
clean_eth['Name'] = 'Ethereum'
clean_eth.reset_index(inplace = True)
clean_eth.rename(columns={'index': 'Date'}, inplace = True)

clean_eth

,Date,High,Low,Open,Close,Marketcap,Symbol,Name
0,201801,1432.880005,742.004028,1093.099893,1103.646004,1.320392e+13,ETH,Ethereum
1,201802,1161.349976,574.419006,882.527006,873.116318,7.796479e+12,ETH,Ethereum
2,201803,880.302002,368.632996,640.787129,625.761325,2.364051e+12,ETH,Ethereum
3,201804,708.875000,363.804993,512.148933,521.103667,2.988716e+12,ETH,Ethereum
4,201805,835.057007,512.552002,682.046129,678.795519,3.604206e+12,ETH,Ethereum
5,201806,624.513000,407.946991,524.591968,520.528231,2.503017e+12,ETH,Ethereum
6,201807,513.432983,422.809998,464.046514,463.327677,1.217637e+12,ETH,Ethereum
7,201808,435.457001,254.649994,327.069223,322.050938,9.309417e+11,ETH,Ethereum
8,201809,301.144012,170.257004,229.290601,227.460833,8.541046e+11,ETH,Ethereum
9,2018010,234.145004,188.707001,211.055710,209.963935,6.710198e+11,ETH,Ethereum
10,2018011,221.651993,101.769997,171.894956,169.047770,6.947482e+11,ETH,Ethereum
11,2018012,157.668701,82.829887,108.395246,108.998097,6.890664e+11,ETH,Ethereum
12,201901,160.824890,103.336464,129.056986,128.174619,5.464403e+11,ETH,Ethereum
13,201902,165.549622,102.934563,126.112229,127.220948,9.862975e+11,ETH,Ethereum
14,201903,149.613235,125.402702,137.202461,137.327039,7.822139e+11,ETH,Ethereum
15,201904,184.377853,140.737564,164.899545,165.603831,1.958546e+12,ETH,Ethereum
16,201905,287.201630,159.660217,216.730067,220.185853,5.359603e+12,ETH,Ethereum
17,201906,361.398682,229.257431,274.005168,274.758299,5.940341e+12,ETH,Ethereum
18,201907,318.223114,193.990417,250.595550,248.289667,3.716841e+12,ETH,Ethereum
19,201908,239.115906,167.071411,201.309426,199.817084,1.960092e+12,ETH,Ethereum
20,201909,222.871689,157.130325,185.712475,185.992064,2.620467e+12,ETH,Ethereum
21,2019010,195.942505,157.463425,179.136466,179.252077,2.710235e+12,ETH,Ethereum
22,2019011,193.547256,133.802338,174.661227,173.651951,2.326583e+12,ETH,Ethereum
23,2019012,153.155396,119.780060,138.784074,138.041703,1.817115e+12,ETH,Ethereum
24,202001,186.260483,126.490021,155.320137,156.972718,3.112844e+12,ETH,Ethereum
25,202002,287.123688,179.745178,237.377253,238.756287,7.612073e+12,ETH,Ethereum
26,202003,249.978485,95.184303,163.235093,160.376243,6.965556e+12,ETH,Ethereum
27,202004,227.529694,129.730942,169.391965,171.957624,6.391125e+12,ETH,Ethereum
28,202005,244.045258,180.718338,207.346755,208.125855,6.152765e+12,ETH,Ethereum
29,202006,252.222000,219.472672,236.268403,236.159229,3.518933e+12,ETH,Ethereum
30,202007,348.611359,224.544495,255.554494,259.405542,5.453766e+12,ETH,Ethereum
31,202008,444.577759,343.587433,399.326147,402.153482,8.406852e+12,ETH,Ethereum
32,202009,487.211884,316.774353,370.860736,368.336064,1.530875e+13,ETH,Ethereum
33,2020010,420.141663,335.533600,375.885525,376.127476,8.504224e+12,ETH,Ethereum
34,2020011,621.173401,371.312744,478.696689,486.144514,1.932098e+13,ETH,Ethereum
35,2020012,754.303223,532.998413,618.537283,622.488431,2.050118e+13,ETH,Ethereum
36,202101,1467.784912,718.109497,1184.997553,1201.393435,8.914391e+13,ETH,Ethereum
37,202102,2036.286499,1274.357788,1696.234375,1699.808921,1.059477e+14,ETH,Ethereum
38,202103,1947.837769,1416.416138,1720.526655,1736.862222,6.082718e+13,ETH,Ethereum
39,202104,2797.972412,1912.178467,2269.130294,2297.672754,1.550467e+14,ETH,Ethereum
40,202105,4362.350586,1737.468750,3142.513688,3140.730760,3.685441e+14,ETH,Ethereum
41,202106,2891.254883,1707.600586,2349.590800,2335.792391,1.211717e+14,ETH,Ethereum
42,202107,2551.161133,1722.050781,2122.466194,2131.080362,8.111726e+13,ETH,Ethereum
43,202108,3466.992188,2449.353516,3069.708630,3098.384939,1.146932e+14,ETH,Ethereum
44,202109,4022.469238,2676.407471,3349.545020,3337.052686,1.574046e+14,ETH,Ethereum
45,2021010,4455.735352,2978.654297,3776.929798,3818.767996,1.257438e+14,ETH,Ethereum
46,2021011,4891.704590,3933.506592,4432.402661,4434.128711,1.400317e+14,ETH,Ethereum
47,2021012,4780.732422,3525.494141,4308.915194,4258.501531,1.839578e+14,ETH,Ethereum